In [1]:
A = [[1,2,3],[11,22,33,[500,502]],[45,[239,'hii'],56,77]]

In [2]:
A[2][1][1]

'hii'

In [3]:
A[-1][1][-1]

'hii'

In [5]:
amazon_cart = [['watch',5000],['phone',10000],['laptop',50000]]

total_cost = 0

In [6]:
#without for loop

amazon_cart[0][1]

5000

In [7]:
amazon_cart[2][1]

50000

In [9]:
amazon_cart[1][1]

10000

In [ ]:
total_cost = 0
for i in range(len(amazon_cart)):
    total_cost =

#list comprehension

In [3]:
squares = []
for i in range(1,101):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [6]:
squares1 = [i**2 for i in range(1,101)]
print(squares1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

# list comprehension

In [1]:
l=[2,5,6,12,21,31,13,44]

In [2]:
l1=[i**2 for i in l]
print(l1)

[4, 25, 36, 144, 441, 961, 169, 1936]

In [5]:
l2 = [(i**2 , i+5) for i in l]
print(l2)

[(4, 7), (25, 10), (36, 11), (144, 17), (441, 26), (961, 36), (169, 18), (1936, 49)]

In [4]:
l3 = [i**2 for i in l if i< 13]
print(l3)

[4, 25, 36, 144]

# OR

In [7]:
l1 = []
for i in l:
    if i < 13:
        l1.append(i**2)

In [8]:
l1

[4, 25, 36, 144]

# Dictonary comprehension

In [9]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Tuple comprehension

In [11]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

# generator , iterator , iterable

Integer is not iterable . But string is iterable and we can make it iterator by using iterator function.

In [1]:
s = "sudh"

In [2]:
iter(s)

In [3]:
next(s)

TypeError: 'str' object is not an iterator

In [4]:
s = iter(s)

In [5]:
next(s)

's'

In [6]:
next(s)

'u'

In [7]:
#Generator 
range(45)

range(0, 45)

In [9]:
list(range(0,45,3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

Yield function

In [5]:
def fib(n):                   #Yield means remember 
    a = 0
    b = 1
    for i in range(n):
        yield a,i
        a , b = b , a+b

In [6]:
for i in fib(10):       
    print(i)

(0, 0)
(1, 1)
(1, 2)
(2, 3)
(3, 4)
(5, 5)
(8, 6)
(13, 7)
(21, 8)
(34, 9)

In [9]:
#fibbonacci series
def fib1(n):
    a = 1
    b = 1
    output = []
    for i in range(n):
        output.append(a)
        a , b = b , a+b
    return output

In [10]:
fib1(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [11]:
#It gives a non type output (since we have used print statement) so we cannot perform premitive operation
def fib(n):
    a = 0
    b = 1
    for i in range(n):
        print(a)
        a , b = b , a+b

In [12]:
fib(10)

0
1
1
2
3
5
8
13
21
34